@(title: String)

<Head>
    <title>@title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/global-assets.css")">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</Head>