@import common.{GreenResponse, AmberResponse, RedResponse, RunningResponse}

@(runningStatus: RunningResponse, profile: String)

    @evaluateResponse() = {
    @runningStatus match {
        case GreenResponse(_,_) => {
            alert-success
        }
        case RedResponse(_,_) => {
            alert-danger
        }
        case AmberResponse(_,_) => {
            alert-warn
        }
    }
    }

    <div class="col-md-4">
        <div id="@{runningStatus.name}-running-response" class="alert @evaluateResponse() text-center" role="alert">
            <a id="@{runningStatus.name}-details-link" href="@routes.MainController.detailsForService()">
                @{runningStatus.name} <br> @{runningStatus.port}
            </a>
            <br><br>
            <a id="@{runningStatus.name}-start-link" href="@routes.MainController.home(profile, "start "+runningStatus.name+" -f")">
                <button title="Start" class="btn btn-primary"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
            </a>
            <a id="@{runningStatus.name}-stop-link" href="@routes.MainController.home(profile, "stop "+runningStatus.name)">
                <button title="Stop" class="btn btn-primary"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span></button>
            </a>
            <a id="@{runningStatus.name}-restart-link" href="@routes.MainController.home(profile, "restart "+runningStatus.name+" -f")">
                <button title="Restart" class="btn btn-primary"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
            </a>
        </div>
    </div>