@import views.html.templates.{main_template, ErrorPanel}

@(profiles: Seq[String], form: Form[String])(implicit request: RequestHeader, messages: Messages)

@main_template(title = messages("app.tab-title")) {
    <div class="col-md-9">
        <h2>@messages("pages.profiles.heading")</h2>
        <hr>
        <div class="row">
            <div class="col-md-9">
                <form class="form-inline" action="@routes.MainController.submitCurrentProfiles()" method="post">
                    <div class="form-group">
                        <div class="input-group @if(form.hasErrors) { has-error }">
                            <span class="input-group-addon" id="sizing-addon1">@messages("pages.profiles.form.label")</span>
                            <input id="profiles" name="profiles" type="text" class="form-control" aria-describedby="sizing-addon1" value="@form("profile").value">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-th" aria-hidden="true"></span> @messages("app.search")</button>
                </form>
            </div>

            <div id="result-count" class="col-md-3">
                <strong class="h1">@profiles.size</strong> available profiles
            </div>
        </div>
        <form class="form-inline" action="@routes.MainController.submitCurrentProfiles()" method="post">
            <div class="form-group">
                <div class="input-group @if(form.hasErrors) { has-error }">
                    <span class="input-group-addon" id="sizing-addon1">@messages("pages.profiles.form.label")</span>
                    <input id="profiles" name="profiles" type="text" class="form-control" aria-describedby="sizing-addon1" value="@form("profile").value">
                </div>
            </div>

            <div class="col-md-3">
                <strong class="h1">@profiles.size</strong> available profiles
            </div>
        </form>
        @if(form.hasErrors) {
            <hr>
            @ErrorPanel(form)
        }
        <hr>
        <div class="row">
        @if(profiles.nonEmpty) {
            @for(profile <- profiles) {
                <div class="col-md-6">
                    <div class="alert alert-info text-center lead">
                        <a href="@routes.MainController.servicesInProfile(profile)">
                            <strong>@profile</strong>
                        </a>
                    </div>
                </div>
            }
        } else {
            <p class="text-center lead">@messages("pages.profiles.no-profiles")</p>
        }
        </div>
    </div>
}