@import views.html.templates.main_template

@(servicesWithTestRoutes: Seq[String])(implicit request: RequestHeader, messages: Messages)

@main_template(title = messages("app.tab-title")) {
    <div class="col-md-9">
        <h2>@messages("pages.test-routes-overview.heading")</h2>
        <hr>
        <div id="result-count">
            <strong class="h1">@servicesWithTestRoutes.size</strong> @messages("pages.test-routes-overview.count")
        </div>
        <hr>
        <div class="row">
        @if(servicesWithTestRoutes.nonEmpty) {
            @for(service <- servicesWithTestRoutes) {
                <div class="col-md-6">
                    <div class="alert alert-info text-center lead">
                        <a href="@routes.MainController.serviceTestRoutesExpanded(service)">
                            <strong>@service</strong>
                        </a>
                    </div>
                </div>
            }
        } else {
            <p class="text-center lead">@messages("pages.test-routes-overview.no-services")</p>
        }
        </div>
    </div>
}